<h1>Editing a Reward</h1>

<%= form_for :reward, url: reward_path(@reward), method: :patch do |f| %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>

  </p>


  <p>
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </p>

   <p>
    <div>
      <%= f.label :is_class, "Class Room Goal", :value => true %>
      <%= f.radio_button :is_class, true %>
    </div>

    <div>
      <%= f.label :is_class, "Individual Goal", :value => false %>
      <%= f.radio_button :is_class, false %>
    </div>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', rewards_path %>
