<h1>Edit</h1>

<%= form_for :user, url: user_path(@user), method: :patch do |f| %>

<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |message| %>
    <%= message %> <br>
  <% end %>
<% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <div>
      <%= f.label :is_teacher, "Teacher", :value => true %>
      <%= f.radio_button :is_teacher, true %>
    </div>

    <div>
      <%= f.label :is_teacher, "Student", :value => false %>
      <%= f.radio_button :is_teacher, false %>
    </div>
  </p>

  <p>
    <%= f.label :pages_read %><br>
    <%= f.text_field :pages_read %>
  </p>

  <p>
    <%= f.label :books_read %><br>
    <%= f.text_field :books_read %>
  </p>

  <p>
    <%= f.label :reading_level %><br>
    <%= f.text_field :reading_level %>
  </p>

  <p>
  	<strong>Book list: </strong>
  	<% @booklist = Users2book.all.each do |user2book| %>
  		<% if user2book.userid === @user.id %>
  			<p> <%= Bookitem.find_by_id(user2book.bookid).title %> </p>
  		<% end %>
  	<% end %>
  </p>
<br>

<% @page_sum = 0 %>
  <% @booklist = Users2book.all.each do |user2book| %>
  	<% if user2book.userid === @user.id %>
  	 <% @page_sum = @page_sum + Bookitem.find_by_id(user2book.bookid).pages %>
  	<% end %>
  <% end %>
  <p> Total Pages: <%= @page_sum %>


  <p>
    <%= f.submit %>
  </p>


<% end %>
 <%= link_to 'Back', users_path %>
