<h1>Editing a user from the user base!</h1>
 
<%= form_for :user, url: user_path(@user), method: :patch do |f| %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :is_teacher %><br>
    <%= f.text_field :is_teacher %>
  </p>

  <p>
    <%= f.label :age %><br>
    <%= f.text_field :age %>
  </p>

  <p>
    <%= f.label :pages_read %><br>
    <%= f.text_field :pages_read %>
  </p>

  <p>
    <%= f.label :books_read %><br>
    <%= f.text_field :books_read %>
  </p>

  <p>
    <%= f.label :reading_level %><br>
    <%= f.text_field :reading_level %>
  </p>
 
  <p>
    Booklist was here...
  </p>
 
  <p>
    <%= f.submit %>
  </p>

 
<% end %>
 <%= link_to 'Back', users_path %>
