<h1>Add a New User </h1>

<%= form_for :user, url: users_path do |f| %>

<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |message| %>
    <%= message %> <br>
  <% end %>
<% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <div>
      <%= f.label :is_teacher, "Teacher", :value => true %>
      <%= f.radio_button :is_teacher, true %>
    </div>

    <div>
      <%= f.label :is_teacher, "Student", :value => false %>
      <%= f.radio_button :is_teacher, false %>
    </div>
  </p>

  <p>
    <%= f.label :pages_read %><br>
    <%= f.text_field :pages_read %>
  </p>

  <p>
    <%= f.label :books_read %><br>
    <%= f.text_field :books_read %>
  </p>

  <p>
    <%= f.label :reading_level %><br>
    <%= f.text_field :reading_level %>
  </p>

  <p>
    <%= f.label :book_list %><br>
    Add field here to add book IDs to this user...
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', users_path %>
