<h1>Add a new User to the people base! </h1>

<%= form_for :user, url: users_path do |f| %>

<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |message| %>
    <%= message %> <br>
  <% end %>
<% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.radio_button :student_or_teacher, "Student", :checked => true %>
    <%= label :student_or_teacher, "Student" %>
    <%= f.radio_button :student_or_teacher, "Teacher"%>
    <%= label :student_or_teacher, "Teacher" %>

  </p>

  <p>
    <%= f.label :age %><br>
    <%= f.text_field :age %>
  </p>

  <p>
    <%= f.label :pages_read %><br>
    <%= f.text_field :pages_read %>
  </p>

  <p>
    <%= f.label :books_read %><br>
    <%= f.text_field :books_read %>
  </p>

  <p>
    <%= f.label :reading_level %><br>
    <%= f.text_field :reading_level %>
  </p>

  <p>
    <%= f.label :book_list %><br>
    Add field here to add book IDs to this user...
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', users_path %>
