<h1>Now here is somebody special! </h1>
<p>
	<strong>Name:</strong>
	<%= @user.name %>
</p>

<p>
	<strong>Rank: </strong>
	    <% if @user.is_teacher %>
        <%= "Teacher" %>
        <% else %>
        <%= "Student" %>
        <% end %>
</p>

<p>
	<strong>Age: </strong>
	<%= @user.age %>
</p>

<p>
	<strong>Total Pages Read: </strong>
	<%= @user.pages_read %>
</p>

<p>
	<strong>Total Books Read: </strong>
	<%= @user.books_read %>
</p>

<p>
	<strong>Their reading level is: </strong>
	<%= @user.reading_level %>
</p>

<p>
	<strong>Their book list: </strong>
	<% @booklist = Users2book.all.each do |user2book| %>
		<% if user2book.userid === @user.id %>
			<p> <%= Bookitem.find_by_id(user2book.bookid).title %> </p>
		<% end %>
	<% end %>
</p>

<%= link_to 'Back', users_path %>

Delete below this###################################

<h2>Behold the book list of: <%= @user.name %> </h2>	

<h2>Book List:</h2>

<% @booklist = Users2book.all.each do |user2book| %>
	<% if user2book.userid === @user.id %>
		<p> <%= Bookitem.find_by_id(user2book.bookid).title %> </p>
	<% end %>
<% end %>
