<h1><center>Student Stats </center></h1>
<p>
	<strong><font size="+2"><%= @user.name %></font></strong>
</p>

<p>
	    <% if @user.is_teacher %>
        <%= "Teacher" %>
        <% else %>
        <%= "Student" %>
        <% end %>
</p>

<p>
	<strong>Total Pages Read: </strong>
	<%= @user.pages_read %>
</p>

<p>
	<strong>Total Books Read: </strong>
	<%= @user.books_read %>
</p>

<p>
	<strong>Reading Level: </strong>
	<%= @user.reading_level %>
</p>

<p>
	<strong>Book list: </strong>
	<% @booklist = Users2book.all.each do |user2book| %>
		<% if user2book.userid === @user.id %>
			<p> <%= Bookitem.find_by_id(user2book.bookid).title %> </p>
		<% end %>
	<% end %>
</p>

<%= form_for :users2book, url: users2books_path do |f| %>

  <p>
    <%= f.hidden_field :userid, :value=> @user.id %>
  </p>

  <h2>Select a New Book</h2>
  <p>
    <%= f.collection_select :bookid, @bookitems, :id, :title, include_blank: false %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>


<%= link_to 'Back', users_path %>
