<h1>Now here is somebody special! </h1>
<p>
	<strong>Name:</strong>
	<%= @user.name %>
</p>

<p>
	<strong>Is teacher:</strong>
	<%= @user.is_teacher %>
</p>

<p>
	<strong>This persons age is: </strong>
	<%= @user.age %>
</p>

<p>
	<strong>This person has read this many pages: </strong>
	<%= @user.pages_read %>
</p>

<p>
	<strong>This person has read this many books:</strong>
	<%= @user.books_read %>
</p>

<p>
	<strong>Their reading level is:</strong>
	<%= @user.reading_level %>
</p>

<p>
	<strong>Their book list: </strong>
	Booklist would go here...
</p>

<%= link_to 'Back', users_path %>



<h2>Behold the book list of: <%= @user.name %> </h2>	

<h2>Book List:</h2>

<% @booklist = Users2book.all.each do |user2book| %>
	<% if user2book.userid === @user.id %>
		<p> <%= Bookitem.find_by_id(user2book.bookid).title %> </p>
	<% end %>
<% end %>
