<h1>Detailed User Report </h1>
<p>
	<strong>Name:</strong>
	<%= @user.name %>
</p>

<p>
	    <% if @user.is_teacher %>
        <%= "Teacher" %>
        <% else %>
        <%= "Student" %>
        <% end %>
</p>

<p>
	<strong>Total Pages Read: </strong>
	<%= @user.pages_read %>
</p>

<p>
	<strong>Total Books Read: </strong>
	<%= @user.books_read %>
</p>

<p>
	<strong>Reading Level: </strong>
	<%= @user.reading_level %>
</p>

<p>
	<strong>Book list: </strong>
	<% @booklist = Users2book.all.each do |user2book| %>
		<% if user2book.userid === @user.id %>
			<p> <%= Bookitem.find_by_id(user2book.bookid).title %> </p>
		<% end %>
	<% end %>
</p>







<%= form_for :users2book, url: users2books_path do |f| %>


  <h2>Please enter the user ID here:</h2>
  <p>
    <%= f.label :userid %><br>
    <%= f.text_field :userid %>
  </p>
 
  <h2>Please enter the book ID here:</h2>
  <p>
    <%= f.label :bookid %><br>
    <%= f.text_field :bookid %>
  </p>

  <table>
  <tr>
    <th>Title</th>
    <th>ID</th>
  </tr>
 
  <% @bookitems.each do |bookitem| %>
    <tr>
      <td><%= bookitem.title %></td>
      <td><%= bookitem.id %></td>
    </tr>
  <% end %>
</table>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>





<%= link_to 'Back', users_path %>
