hello to the display


<h1>The complete listing of the people base!</h1>
<%= link_to 'HOME', controller: 'welcome' %>
 <%= link_to 'New User', new_user_path %>
<table>
  <tr>
    <th>Name</th>
    <th>ID</th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.id %></td>
      <td><%= link_to 'Show', user_path(user) %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Destroy', user_path(user),method: :delete,data: { confirm: 'Are you Sure?' } %> </td>
    </tr>
  <% end %>
</table>









<% 
=begin %> 


<%= select("person", "role_id", @users.collect {|r| [ r.name, r.id ] }, { :include_blank => true } ) %>

<%= select("person", "role_id", User.all.collect {|p| [ p.name, p.id ] }, {include_blank: 'None'})  %>

<%= select("person", "role_id", @users.collect {|r| [ r.name, r.id ] },,{ :include_blank => false } ) %>

<%= select_tag(:author_id, options_for_select(@user_options)) %>
<%= select(:user, :author_id, @user_options) %>



<%= select_tag(:author_id, options_for_select(@user_options)) %>


     <select name="user_id">
      <%= @users.each do |user| %>
        <option value="<%= user.id %>"><%= user.name %></option>
      <% end %>
    </select>




<% 
=end %>



<%= collection_select(@lang_id, 0, User.all, :id, :name) %>


<% @firstp = 3 %>
########################

<%= link_to "Connect", infoview_path(foo_param: @lang_id) %>