<h1>Welcome to the Readathon Homepage!</h1>
<%= link_to 'THE PEOPLE BASE', controller: 'users' %>
<%= link_to 'THE BOOK LIST', controller: 'bookitems' %>
<%= link_to 'THE Reward List', controller: 'rewards' %>
<%= link_to 'THE Goal List', controller: 'goals' %>



<%= link_to 'GIVE SOMEONE A BOOK TO READ', controller: 'users2books'%>
<%= link_to 'DUAL!', controller: 'dualbooklists'%>



<h3><strong><%= link_to 'DisplayView', displayview_path %></strong></h3>



<%= link_to 'LEADERBOARD', controller: 'leaderboard', action: 'index' %>
<%= link_to 'CLASS SUMMARY', controller: 'welcome', action: 'classsummary' %>

