<h1>Please add a new user to book</h1>

<%= form_for :users2book, url: users2books_path do |f| %>


<table>
  <tr>
    <th>Name</th>
    <th>ID</th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.id %></td>
    </tr>
  <% end %>
</table>


  <h2>Please select a user :</h2>
  <p>
    <%#= f.label :userid %>
    <%= f.collection_select :userid, @users, :id, :name, include_blank: false %>
  </p>
 
  <h2>Please select a book:</h2>
  <p>
    <%#= f.label :bookid %>
    <%= f.collection_select :bookid, @bookitems, :id, :title, include_blank: false %>
  </p>

  <table>
  <tr>
    <th>Title</th>
    <th>ID</th>
  </tr>
 
  <% @bookitems.each do |bookitem| %>
    <tr>
      <td><%= bookitem.title %></td>
      <td><%= bookitem.id %></td>
    </tr>
  <% end %>
</table>
 
  <p>
    Hit save then go back home.
    <%= f.submit %>
  </p>
<% end %>


<%= link_to 'Back', users2books_path %>




