<h1>BOOKLIST vs. BOOKLIST CHALLENGE!</h1>
 
<%= form_for :dualbooklist, url: dualbooklist_path(@dualbooklist), method: :patch do |f| %>

  <h2>Please Select student one!:</h2>
  <p>
    <%= f.collection_select :studentone, @users, :id ,:name, include_blank: false  %>
    <%#>
    http://stackoverflow.com/questions/14113057/how-to-have-a-drop-down-select-field-in-a-rails-form %>
  </p>
  <h2>Please Select student two!:</h2>
  <p>
    <%= f.collection_select :studenttwo, @users, :id ,:name, include_blank: false  %>
  </p>
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Back', dualbooklists_path %>