<h1>Editing an entry</h1>
 
<%= form_for :dualbooklist, url: dualbooklist_path(@dualbooklist), method: :patch do |f| %>

<table>
  <tr>
    <th>Name</th>
    <th>ID</th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.id %></td>
    </tr>
  <% end %>
</table>
 

  <h2>Please enter the user ID for student one:</h2>
  <p>
    <%= f.label :studentone %><br>
    <%= f.text_field :studentone %>
  </p>
 
  <h2>Please enter the user ID for student two:</h2>
  <p>
    <%= f.label :studenttwo %><br>
    <%= f.text_field :studenttwo %>
  </p>

 
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Back', dualbooklists_path %>