<h1>BOOKLIST VS. BOOKLIST CHALLENGE</h1>
 
<%= form_for :dualbooklist, url: dualbooklist_path(@dualbooklist), method: :patch do |f| %>



  <h2>Please Choose your name: </h2>
  <p>
    <%= f.collection_select :studentone, @users, :id, :name, include_blank: false %>
  </p>
 
  <h2>Please Choose the name of the Challenger: </h2>
  <p>
	<%= f.collection_select :studenttwo, @users, :id, :name, include_blank: false %>
  </p>

 
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Back', dualbooklists_path %>