<h1 align="center"><strong>WHO HAS THE BETTER BOOKLIST?!!!</strong></h1>

<style type="text/css">
#wrap {
   width:600px;
   margin:0 auto;
}
#left_col {
   float:left;
   width:300px;
   background: rgba(102, 136, 102, 0.48);
   height: 500px;
   l
}
#right_col {
   float:right;
   width:300px;
   background: #668866;
   height: 500px;
}
</style>

<div id="wrap">
    <div id="left_col">
        <p>
          <% @chal1 = User.all.each do |c1| %>
            <% if c1.id === @dualbooklist.studentone %>
              <p><strong> <font size = "+2"><%= User.find_by_id(c1.id).name %> </strong></font></p>
            <% end %>
          <% end %>
        </p>

       <p>
      	<strong> And the Book List: </strong>
        <% @page_sum = 0 %>
        <% @book_total = 0 %>
      	<% @booklist = Users2book.all.each do |user2book| %>
      		<% if user2book.userid === @dualbooklist.studentone %>
      			<p> <%= Bookitem.find_by_id(user2book.bookid).title %> </p>
            <% @page_sum = @page_sum + Bookitem.find_by_id(user2book.bookid).pages %>
            <% @book_total = @book_total + 1 %>
      		<% end %>
      	<% end %>
        <p style="position: absolute; bottom: 0"><strong> Total Pages: </strong><%= @page_sum %></p>
        <p style="position: absolute; bottom: -24px"><strong> Total Books: </strong><%= @book_total %></p>
        <p style="position: absolute; bottom: -47px"><strong> Pages per Book: </strong><%= @page_sum / @book_total %></p>

      </p>

  </div>
  <div id="right_col">
      <p>
        <% @chal2 = User.all.each do |c2| %>
          <% if c2.id === @dualbooklist.studenttwo %>
            <p><strong><font size = "+2"><%= User.find_by_id(c2.id).name %></strong></font> </p>
          <% end %>
        <% end %>
      </p>
      <p>
        <% @page_sum2 = 0 %>
        <% @book_total2 = 0 %>
        <strong> And the Book List: </strong>
      	<% @booklist = Users2book.all.each do |user2book| %>
      		<% if user2book.userid === @dualbooklist.studenttwo %>
      			<p> <%= Bookitem.find_by_id(user2book.bookid).title %> </p>
            <% @page_sum2 = @page_sum2 + Bookitem.find_by_id(user2book.bookid).pages %>
            <% @book_total2 = @book_total2 + 1 %>
      		<% end %>
      	<% end %>
        <p style="position: absolute; bottom: 0"><strong> Total Pages: </strong><%= @page_sum2 %></p>
        <p style="position: absolute; bottom: -24px"><strong> Total Books: </strong><%= @book_total2 %></p>
        <p style="position: absolute; bottom: -47px"><strong> Pages per Book: </strong><%= @page_sum2 / @book_total2 %></p>

      </p>
  </div>
</div>








 <%= link_to 'Back', dualbooklists_path %>
