<h1>Editing an entry</h1>
 
<%= form_for :users2reward, url: users2reward_path(@users2reward), method: :patch do |f| %>
  
<table>
  <tr>
    <th>Name</th>
    <th>ID</th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.id %></td>
    </tr>
  <% end %>
</table>


  <h2>Please enter the user ID here:</h2>
  <p>
    <%= f.label :userid %><br>
    <%= f.text_field :userid %>
  </p>
 
  <h2>Please enter the reward ID here:</h2>
  <p>
    <%= f.label :rewardid %><br>
    <%= f.text_field :rewardid %>
  </p>

  <table>
  <tr>
    <th>name</th>
    <th>ID</th>
  </tr>
 
  <% @rewards.each do |reward| %>
    <tr>
      <td><%= reward.name %></td>
      <td><%= reward.id %></td>
    </tr>
  <% end %>
</table>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Back', users2rewards_path %>