<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 3.0 License
-->
<!DOCTYPE html>
<html>
  <head>
    <title>Readathon</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', :media => 'screen, projection', 'data-turbolinks-track': 'reload' %>
	<%=stylesheet_link_tag "application-print", :media => "print" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

	<meta name="keywords" content="" />
	<meta name="description" content="" />
    
  </head>




 <body>
<div id="wrapper">
		<div id="logo">
			<%= image_tag("sitelogo.png", class:"sitelogo",height: '64', width: '64') %>
			<div class="sitetitle">
			<h1><a href="#">Readathon</a></h1>
			<p>Competitive reading software.</p>
			</div>
		</div>
	<!--<div id="header">
	</div> -->
	<div id="menu">
		<ul>
			<li class="first"><%= link_to 'HOME', controller: 'welcome' %></li>
			<li><%= link_to 'LEADERBOARD', controller: 'leaderboard', action: 'index' %></li>
			<li><%= link_to 'MasterView', masterview_path %></li>
			<li><%= link_to 'Users', controller: 'users' %></li>
			<li><%= link_to 'THE USER TO BOOK Table', controller: 'users2books'%></li>
			<li><%= link_to 'CLASS SUMMARY', controller: 'welcome', action: 'classsummary' %></li>
		</ul>
	</div>
	<div id="page">
		<div id="content">
			
    		<%= yield %>


			<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #content -->
		<div style="clear: both;">&nbsp;</div>
	</div>



<div id="footer">
	<p>
		<%= link_to 'Contact', contact_path %>
		<%= link_to 'about', about_path %>
	</p>
	<p>Copyright &copy; 2017 Team Avatar!</p>
</div>
</div>
</body>
</html>
